// brand style hear


.brand-container{
    max-width: 1800px;
    margin: auto;
}

.brand-main-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .rts-single-brand{
        width: 240px;
        height: 150px;
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(216, 221, 225, 0.6);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover{
            transform: translateY(-15px) scale(1.06);
        }
    }
}